.nav-bar {
    height: 68px;
    color: white;
    box-sizing: border-box;
    padding: 0 32px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    position: relative;
}